@page {
  size: A4 landscape;
  margin: 0;
}

@font-face {
  font-family: 'MPLUS1p-Regular';
  src: url('../fonts/MPLUS1p-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'MPLUS1p-Medium';
  src: url('../fonts/MPLUS1p-Medium.ttf')  format('truetype');
}
@font-face {
  font-family: 'MPLUS1p-Bold';
  src: url('../fonts/MPLUS1p-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Regular";
  src: url('../fonts/NotoSansJP-Regular.otf')  format("opentype");
}
@font-face {
  font-family: "NotoSansJP-Medium";
  src: url('../fonts/NotoSansJP-Medium.otf')  format("opentype");
}
@font-face {
  font-family: "NotoSansJP-Bold";
  src: url('../fonts/NotoSansJP-Bold.otf')  format("opentype");
}

body {
  font-family: 'NotoSansJP-Regular';
  color: #666666;
}
.a-label {
  color: #6FA8DC;
}
.b-label {
  color: #E06666;
}
.jp-text {
  /* color: #E69138; */
  color: #E06666;
}

section {
  page-break-after: always;
  page-break-inside: avoid;
}

header {
/* background-color: green; */
  top: 0;
  left: 0;
  /* width: 100%; */
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; */
}
header .label {
/* background-color: blue; */
  top: 0;
  left: 0;
  /* width: 100%; */
  padding: 2em;
  font-size: 14pt;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
header .label span {
  margin-right: 2em;
}
header .label .page-number {
  margin-left: auto;
  margin-right: 0;
}
footer {
/*background-color: red;*/
  position: absolute;
  bottom: 0;
  right: 0;
  /* width: 100%; */
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
footer img.logo {
  height: 4em;
}
footer .logo-text {
  font-size: 8pt;
  white-space: nowrap;
}

.image-page .main-image {
  margin-left: 2em;
}
.image-page .main-image img {
  width: 80%;
}

.dialogue-page .dialogue {
  font-size: 26pt;
  margin: 1em 2em 0 1.5em;
}
.dialogue-page .dialogue-en {
  margin-bottom: 1.5em;
}
.a-label, .b-label {
  font-weight: bold;
  margin-right: 1em;
}
.dialogue-page .dialogue-jp {
  font-size: 17pt;
  margin-top: -2em;
  margin-left: 2.8em;
  margin-bottom: 1em;
}

/* target is used on both target-page and substitutions-page */
.target {
  font-size: 26pt;
  margin: 1em 2em 0 1.5em;
}
.target-en {
  margin-bottom: 1.5em;
}

/* Wrap text that has A/B, but align with the sentences, not the labels */
.dialogue-en, .target-en {
  text-indent: -1.8em;
  padding-left: 1.8em;
}
.dialogue-en, .target-en, .extension-en {
  line-height: 1.2;
}

.substitutions-page .substitutions {
  font-size: 26pt;
  margin: 1em 2em 0 3em;
}
.substitutions-page .substitutions .vocab-list li {
  /* float: left;
  margin-right: 3em; */
  margin-bottom: 1.3em;
}
.substitutions-page .substitutions .vocab-list .vocab-jp {
  font-size: 17pt;
  margin-top: -1.7em;
  margin-bottom: 0.7em;
}

.vocab-page .vocab {
  font-size: 26pt;
  margin: 1em 2em 0 3em;
}
.vocab-page .vocab .vocab-list {
}
.vocab-page .vocab .vocab-list li {
  margin-bottom: 1.5em;
}

.extensions-page .extensions {
  font-size: 26pt;
  margin: 1em 2em 0 3em;
}
.extensions-page .extensions .extensions-list li {
  margin-bottom: 2em;
}
.extensions-page .extension-jp {
  font-size: 17pt;
  margin-top: -3em;
  /* margin-left: 0.5em; */
  margin-bottom: 2em;
}
