<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <base
      href="file:///mnt/c/Users/chris/projects/elitebusiness/elitebusiness/"
    />
    <link href="reset.css" rel="stylesheet" />
    <link href="presentation.css" rel="stylesheet" />
    <title>
      Elite Business - Level {{ level }} - {{ unit_title }} - Lesson {{ lesson
      }}
    </title>
  </head>

  <body>
    <section class="image-page">
      {% set page = 1 %} {% include "page-header.html" %}

      <div class="main-image">
        <img src="images/EB{{ level }}U{{ unit }}L{{ lesson }}.jpg" alt="" />
      </div>

      {% include "page-footer.html" %}
    </section>

    <section class="dialogue-page">
      {% set page = page + 1 %} {% include "page-header.html" %}

      <div class="dialogue">
        <p class="dialogue-en">
          <span class="a-label">A</span>{{ dialogue_a1_en }}
        </p>
        <p class="dialogue-en">
          <span class="b-label">B</span>{{ dialogue_b1_en }}
        </p>
        <p class="dialogue-en">
          <span class="a-label">A</span>{{ dialogue_a2_en }}
        </p>
        <p class="dialogue-en">
          <span class="b-label">B</span>{{ dialogue_b2_en }}
        </p>
      </div>

      {% include "page-footer.html" %}
    </section>

    <section class="dialogue-page">
      {% set page = page + 1 %} {% include "page-header.html" %}

      <div class="dialogue">
        <p class="dialogue-en">
          <span class="a-label">A</span>{{ dialogue_a1_en }}
        </p>
        <p class="dialogue-jp jp-text">{{ dialogue_a1_jp }}</p>
        <p class="dialogue-en">
          <span class="b-label">B</span>{{ dialogue_b1_en }}
        </p>
        <p class="dialogue-jp jp-text">{{ dialogue_b1_jp }}</p>
        <p class="dialogue-en">
          <span class="a-label">A</span>{{ dialogue_a2_en }}
        </p>
        <p class="dialogue-jp jp-text">{{ dialogue_a2_jp }}</p>
        <p class="dialogue-en">
          <span class="b-label">B</span>{{ dialogue_b2_en }}
        </p>
        <p class="dialogue-jp jp-text">{{ dialogue_b2_jp }}</p>
      </div>

      {% include "page-footer.html" %}
    </section>

    <section class="target-page">
      {% set page = page + 1 %} {% include "page-header.html" %}

      <div class="target">
        <p class="target-en"><span class="a-label">A</span>{{ target_a_en }}</p>
        <p class="target-en"><span class="b-label">B</span>{{ target_b_en }}</p>
      </div>

      {% include "page-footer.html" %}
    </section>

    <section class="substitutions-page">
      {% set page = page + 1 %} {% include "page-header.html" %}

      <div class="target">
        <p class="target-en"><span class="a-label">A</span>{{ target_a_en }}</p>
        <p class="target-en"><span class="b-label">B</span>{{ target_b_en }}</p>
      </div>
      <div class="substitutions">
        <ol class="vocab-list">
          <li>{{ vocab1_en }}</li>
          <li>{{ vocab2_en }}</li>
          <li>{{ vocab3_en }}</li>
          <li>{{ vocab4_en }}</li>
        </ol>
      </div>

      {% include "page-footer.html" %}
    </section>

    <section class="substitutions-page">
      {% set page = page + 1 %} {% include "page-header.html" %}

      <div class="target">
        <p class="target-en"><span class="a-label">A</span>{{ target_a_en }}</p>
        <p class="target-en"><span class="b-label">B</span>{{ target_b_en }}</p>
      </div>
      <div class="substitutions">
        <ol class="vocab-list">
          <li>{{ vocab1_en }}</li>
          <p class="vocab-jp jp-text">{{ vocab1_jp }}</p>
          <li>{{ vocab2_en }}</li>
          <p class="vocab-jp jp-text">{{ vocab2_jp }}</p>
          <li>{{ vocab3_en }}</li>
          <p class="vocab-jp jp-text">{{ vocab3_jp }}</p>
          <li>{{ vocab4_en }}</li>
          <p class="vocab-jp jp-text">{{ vocab4_jp }}</p>
        </ol>
      </div>

      {% include "page-footer.html" %}
    </section>

    <section class="vocab-page">
      {% set page = page + 1 %} {% include "page-header.html" %}

      <div class="vocab">
        <ol class="vocab-list">
          <li>{{ vocab1_en }}</li>
          <li>{{ vocab2_en }}</li>
          <li>{{ vocab3_en }}</li>
          <li>{{ vocab4_en }}</li>
        </ol>
      </div>

      {% include "page-footer.html" %}
    </section>

    <section class="extensions-page">
      {% set page = page + 1 %} {% include "page-header.html" %}

      <div class="extensions">
        <ol class="extensions-list">
          <li><p class="extension-en">{{ extension1_en }}</p></li>
          <li><p class="extension-en">{{ extension2_en }}</p></li>
          <li><p class="extension-en">{{ extension3_en }}</p></li>
        </ol>
      </div>

      {% include "page-footer.html" %}
    </section>

    <section class="extensions-page">
      {% set page = page + 1 %} {% include "page-header.html" %}

      <div class="extensions">
        <ol class="extensions-list">
          <li><p class="extension-en">{{ extension1_en }}</p></li>
          <p class="extension-jp jp-text">{{ extension1_jp }}</p>
          <li><p class="extension-en">{{ extension2_en }}</p></li>
          <p class="extension-jp jp-text">{{ extension2_jp }}</p>
          <li><p class="extension-en">{{ extension3_en }}</p></li>
          <p class="extension-jp jp-text">{{ extension3_jp }}</p>
        </ol>
      </div>

      {% include "page-footer.html" %}
    </section>
  </body>
</html>
